@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* ------font-family: "Azeret Mono", monospace; --------*/

/*------- reset code start here--------------------- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
    background-color:#FFFFFF;
}
p{
    opacity: 0.8;
}
/*------- reset code ends here--------------------- */

/*------ header and banner section start here--------------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 28px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 150px;
}
.header-btn{
    padding:5px;
    width: 200px;
    height: 50px;
    padding: 10px 15px;
    text-align: center;
    margin-top:55px;
    margin-right:190px;
    font-size: 18px;
    border: 1px solid rgb(14, 20, 36);
    border-radius: 8px;
    cursor: pointer;
}
.banner{
    width:100%;
    height:680px;
    background:url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 215px 20px 215px;

}
.banner-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-card img{
    width:240px;
    height: 240px;
    margin: 30px 0;
}
.banner-card h1{
    font-size: 45px;
    font-weight: 800;  
    text-align: center;
    line-height: 70px;
    margin-bottom: 30px;
}
.banner-card p{
    font-size: 16px;
    color:rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}
.banner-btn{
    width:210px;
    height:70px;
    background-color: rgb(13, 19, 33);
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}
/*------ header and banner section ends here--------------------- */

/* ------main section start here ---------------------------------*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:70px 150px;
}
/* ------development section start here ---------------------------------*/
.development{
    width:1240px;
    height:1400px;
    background-color:rgb(255, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:70px 80px;
}
.development-content{
    width:1040px;
    height: 1310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.development-content-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.development-content-text h1{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
.development-content-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 50px;
}
.dev-img-text{
    width:950px;
    height:340px;
    display: flex;
    justify-content: space-between;
    padding:45px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 251, 251));
}
#dev-img-text-2{
    background: linear-gradient(to left, rgb(255, 255, 255) , rgb(255, 251, 251));
}
.dev-text{
    width:475px;
    height:220px;
}
.dev-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom:20px;
}
.dev-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.dev-btn{
    width:150px;
    height:50px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
}
.dev-img{
    width:260px;
    height:225px;
}
/* ------development section ends here ---------------------------------*/

/*------ Inspiration section start here -------------------------------- */
.inspirstion{
    width:1240px;
    height:770px;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inspiration-text{
    width:850px;
    height:115px;
    margin:0 140px;
}
.inspiration-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom:25px;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}
.inspiration-video{
    width:1140px;
    height:615px;
    padding:35px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 40px;
}
.inspiration-video iframe{
   border-radius: 16px;
}
/*------ Inspiration section ends here -------------------------------- */

/*------ Target section start here -------------------------------- */
.target{
    width:1240px;
    height:460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
.target-text{
    width:850px;
    height:150px;
}
.target-text h1{
    color: rgb(13, 19, 33);    
    font-size: 32px;
    font-weight: 800;
    margin-bottom:24px;
    text-align: center;
}
.target-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom:50px;
}
.target-card{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.target-card-outer{
    width:370px;
    height:300px;
    padding:40px;
    border-radius: 16px;
}
#target-card-1{
    background: rgba(255, 76, 30, 0.05);;
}
#target-card-2{
    background: rgba(0, 76, 232, 0.05)
}
#target-card-3{
    background: rgba(255, 223, 0, 0.05);
}
.target-card-inner{
    width:285px;
    height:220px;
}
.target-card-inner img{
    margin-bottom: 24px;
}
.target-card-inner h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.target-card-inner p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.target-card-inner h4{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.nxt-target{
    width:1240px;
    height:865px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 115px;
}
.nxt-target-text{
    width:850px;
    height:115px;
}
.nxt-target-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
}
.nxt-target-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom:50px;
}
.nxt-target-card{
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-direction: column;
    margin-top: 40px;
}
.nxt-target-card-outer{
    width:1280px;
    height:220px;
    padding:40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.nxt-target-inner{
    width:1060px;
    height:140px;
    display: flex;
    justify-content: space-between;
}
.nxt-target-inner-img img{
    width:95px;
    height:85px;
    margin-right: 25px;
}
.nxt-target-inner-text{
    width:940px;
    height:95px;
}
.nxt-target-inner-text h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.nxt-target-inner-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.nxt-target-inner-text h4{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
/*------ Target section ends here -------------------------------- */


/* ------main section ends here ---------------------------------*/